doctype html
html.no-voting.unloaded
	head
		title #{meta.title}
		meta(http-equiv='Refresh', content='4; URL=index.html')
		link(rel="stylesheet", href="index.css")
		
	body
		#four04
			.content
				.message
					h1 ROAD CLOSED
					h2 We seem to be experiencing some last minute roadwork. Not to worry — we’ll get you moving in no time.