#upgrade.overlay
	.content
		.message
			h1 Oh no!
			p The story of Domino's DXP takes advantage of some technologies that aren't available using your current web browser.
			p Please upgrade your browser to the latest version and check back to why we're so excited for the DXP!