.content
	button.vote-button.result-button
		| Vote
	a.buy-pizza(href="", target="_blank")
		button.buy-pizza-button.result-button
			| Order Domino's
	.store-holder
		| !{html}
	
	svg.dxp-indicator(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/', x='0px', y='0px', width='117.3px', height='52.2px', viewbox='0 0 117.3 52.2', enable-background='new 0 0 117.3 52.2', xml:space='preserve')
		defs
		lineargradient#SVGID_1_(gradientunits='userSpaceOnUse', x1='134.655', y1='46.2893', x2='36.7586', y2='46.2893', gradienttransform='matrix(-1 0 0 1 117.2985 0)')
			stop(offset='0.1655', style='stop-color:#151011;stop-opacity:0')
			stop(offset='1', style='stop-color:#151011;stop-opacity:0.95')
		rect(x='0', y='40.8', opacity='0.42', fill='url(#SVGID_1_)', width='104.5', height='11')
		path(fill='#FFFFFF', d='M49,46h-2.9l-3-5.2c0,0,2.6-8,5.2-11.2c2.6-3.2,10.7-5,10.7-5c5.4-1.7,4.7-10.9,36.8-10.9l15.6,1.5V23\
		l1.3,0.2l2.7,5.2v3.2l2,5.2l-3.6,9.3H111H49z')
		circle(fill='#4F4F46', cx='101.5', cy='44.6', r='7.6')
		circle(fill='#4F4F46', cx='58.7', cy='44.6', r='7.6')
		path(fill='#E21D38', d='M86.4,0.2l-6.6,6.6l7.1,7.1l6.6-6.6c0.3-0.3,0.3-0.8,0-1.1l-6.1-6.1C87.2-0.1,86.7-0.1,86.4,0.2z')
		path(fill='#016492', d='M86.5,14.4l-7.1-7.1l-6.6,6.6c-0.1,0.1-0.2,0.3-0.2,0.5c0,0.2,0.1,0.4,0.2,0.5l6.1,6.1\
		c0.3,0.3,0.8,0.3,1.1,0L86.5,14.4z')