#site-loader.overlay
	.content
		.loader-block
			include site-loader/_loader.svg
			h1 LOADING
			//.buttons
			//	button.animate-in Animate In
			//	button.animate-out Animate Out
			//	button.sim-load Simulate Load