ul.share
	button.expando-button.twitter-share(title="Share on Twitter")
		.content
			svg.glyf(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/', x='0px', y='0px', width='105.4px', height='105.4px', viewbox='0 0 105.4 105.4', enable-background='new 0 0 105.4 105.4', xml:space='preserve')
				defs
				rect(fill='rgba(0,0,0,0)', width='105.4', height='105.4')
				polygon(fill='rgba(0,0,0,0.2)', points='82,29.2 52.7,53 41.3,72.1 21.4,73.7 26.3,78.7 26.3,78.7 52.8,105.1 105.4,105.1 105.4,78.7 105.4,78.7 105.4,52.7 ')
				path(fill='#FFF', d='M85.4,32.6c-2.3,1-4.8,1.7-7.5,2c2.7-1.6,4.7-4.2,5.7-7.2c-2.5,1.5-5.3,2.6-8.3,3.2c-2.4-2.5-5.7-4.1-9.5-4.1c-7.2,0-13,5.8-13,13c0,1,0.1,2,0.3,3c-10.8-0.5-20.4-5.7-26.8-13.6c-1.1,1.9-1.8,4.2-1.8,6.5c0,4.5,2.3,8.5,5.8,10.8c-2.1-0.1-4.1-0.7-5.9-1.6c0,0.1,0,0.1,0,0.2c0,6.3,4.5,11.5,10.4,12.7c-1.1,0.3-2.2,0.5-3.4,0.5c-0.8,0-1.7-0.1-2.4-0.2c1.7,5.2,6.5,8.9,12.1,9c-4.4,3.5-10.1,5.6-16.1,5.6c-1,0-2.1-0.1-3.1-0.2C27.8,75.8,34.6,78,42,78c23.9,0,37-19.8,37-37c0-0.6,0-1.1,0-1.7C81.4,37.5,83.6,35.2,85.4,32.6')

	button.expando-button.facebook-share(title="Share on Facebook")
		.content
			svg.glyf(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/', x='0px', y='0px', width='105.6px', height='105.4px', viewbox='0 0 105.6 105.4', enable-background='new 0 0 105.6 105.4', xml:space='preserve')
				defs
				rect(fill='rgba(0,0,0,0)', width='105.4', height='105.4')
				polygon(fill='rgba(0,0,0,0.2)', points='66.7,29.2 52.7,38.6 50.1,72.6 47.5,78.7 46.7,78.7 73.2,105.1 105.4,105.1 105.6,68.1 ')
				path(fill='#fff', d='M66.7,37.5h-8c-0.9,0-2,1.2-2,2.9v5.8h10v8.2h-10V79h-9.4V54.4h-8.5v-8.2h8.5v-4.8c0-6.9,4.8-12.6,11.4-12.6h8V37.5z')

	//- button.expando-button.google-plus-share(title="Share on Google Plus")
	//- 	.content
	//- 		svg.glyf(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/', x='0px', y='0px', width='105.4px', height='105.4px', viewbox='0 0 105.4 105.4', enable-background='new 0 0 105.4 105.4', xml:space='preserve')
	//- 			defs
	//- 			polygon(fill='rgba(0,0,0,0.2)', points='77.9,51.4 62.8,36.4 59.7,40.1 52,35.6 40.9,36.4 29.5,43.3 29.5,52.7 35.8,67.4 32.8,70.8 67.4,105.4 105.4,105.4 105.4,79 ')
	//- 			path(fill='#fff', d='M69.5,48.3h-9.2H47.6v8.6h12.3C58.2,62.7,53.9,67,47.6,67c-3.9,0-7.4-1.7-9.9-4.3c-2.3-2.5-3.7-5.7-3.7-9.4c0-7.6,6.1-13.7,13.7-13.7c3.4,0,6.5,1.3,8.9,3.4l6.3-6.6c-4-3.7-9.4-5.9-15.3-5.9c-12.6,0-22.8,10.2-22.8,22.8c0,6.2,2.5,11.9,6.5,16c4.1,4.2,9.9,6.8,16.3,6.8c11.4,0,19.9-8.3,21.6-19.2c0.2-1.2,0.3-2.4,0.3-3.6V48.3z')
	//- 			polygon(fill='#fff', points='87.8,48.5 82.5,48.5 82.5,43.3 79.6,43.3 79.6,48.5 74.3,48.5 74.3,51.5 79.6,51.5 79.6,56.7 82.5,56.7 82.5,51.5 87.8,51.5 ')
	//- 			rect(fill='rgba(0,0,0,0)', width='105.4', height='105.4')

	button.expando-button.hidden