#home-page.page
	.background
	.content
		.vignette
		.vignette-top
		.vignette-bottom
		.text1.textbox
			h1 LET'S DELIVER SOME PIZZAS.
			
		.text2.textbox
			h1 WARMING OVEN
			h3 EQUIPPED WITH A BUILT-IN WARMING OVEN HEATED UP TO 140&deg;F TO KEEP YOUR PIZZA HOT, FROM OUR STORE TO YOUR HOME.
			
		.text3.textbox-bottom
			h1 DELIVERY-FOCUSED INTERIOR 
			h3 The DXP only has seating for one, to make room for custom compartments that stabilize pizzas and secure drinks, dipping sauces, napkins and more.
			
		.text4.textbox
			h1 OUT FOR DELIVERY
			h3 When the Out For Delivery roof light is illuminated, it means two things: the DXP is en route to hungry customers, and it has a delicious meal on board.
			
		.text5.textbox-bottom
			h1 CUSTOM DECALS
			h3 Similar to jets, every DXP can be personalized to include its driver's name, call sign, home base and more, to make each one localized and unique.
			
		.text6.textbox
			h1 #DXP
			
		.text7.textbox
			h1 STOPS LESS. DELIVERS MORE.
			h3 The 4-cylinder DXP is a model for fuel efficiency, helping it go pizza delivery after pizza delivery after pizza delivery. 
			
		.text8.textbox-bottom
			h1 DELIVERY PATH ILLUMINATOR
			h3 A SIDE-MOUNTED LIGHT BRIGHTENS PUDDLES AND CURBS AT NIGHT, HELPING DRIVERS STEP SAFELY AND KEEP YOUR ORDER OUT OF HARM'S WAY.
			
		.text9.textbox
			h1 TAKE IT FOR A SPIN
			h3 KEEP SCROLLING TO EXPLORE ALL 360 DEGREES OF THE DXP.
			
	.cover
