section.step.confirmation
	.content
		.wrapper
			h1 WE’VE GOT YOUR VOTE.
			h2 We’ll cross our breadsticks for you. 
			button.buy-pizza-button.result-button Order Now
			button.close-button.result-button Go Back
