section.step.vote
	.content
		.wrapper
			h1 Vote for a DXP
			h2 Submit your email for a DXP at your local Domino's
			form
				.input-field
					input.email-address(type="text", placeholder="Enter your email address")
					button.submit-button.expando-button
						.content
							svg.glyf(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/', x='0px', y='0px', width='105.4px', height='105.7px', viewbox='0 0 105.4 105.7', enable-background='new 0 0 105.4 105.7', xml:space='preserve')
								defs
								rect#XMLID_2_(x='0', y='0', opacity='0.5', fill='none', width='105.4', height='105.4')
								polygon#XMLID_1_(fill='rgba(0,0,0,0.2)', points='79.1,52.4 26.3,52.4 79.6,105.7 105.4,105.4 105.4,77.6 ')
								polygon(fill='#FFF', points='56,25.8 52.1,25.8 52.1,29.8 72.3,49.9 29.1,49.9 26.3,52.7 29.1,55.5 72.3,55.5 52.1,75.7 52.1,79.6 56,79.6 82.4,53.2 82.9,52.7 ')


				label
					input.subscribe(type="checkbox", checked="true")
					| Email me coupons, offers, and deals from Domino's

				label
					input.rules(type="checkbox",checked="true")
					| I have read the 
					a(href="rules.html", target="_blank") terms and conditions
					|.
			.error-messages