#locations-page.page
	#dxp-map.background
	.content
		include ../ui/_close-button
		include ./locations-page/_enter-zip
		include ./locations-page/_results
		include ./locations-page/_vote
		include ./locations-page/_confirmation
	.cover