#main-menu
	.menu
		.bg-menu
		nav.menu-items
			a.closer(href="#home/0") Home
			a.closer(href="#home/2") Warming Oven
			a.closer(href="#home/4") Delivery-focused Interior
			a.closer(href="#home/6") Out for Delivery
			a.closer(href="#home/7") Custom Decals
			a.closer(href="#home/8") Stops Less. Delivers More.
			a.closer(href="#home/10") Delivery Path Illuminator
			// a.closer(href="#home/11") Delivery Path Illuminator

			a.closer(href="#explore").non-story Explore 360&deg;
			a.closer(href="#locations").non-story Locate a DXP
			a.closer(href="https://www.dominos.com", target="_blank").non-story Dominos.com
			// a.closer(href="#").non-story Terms And Conditions
			//- .legal
			//- 	p 2015&nbsp;EPA-estimated 31&nbsp;city/ 39&nbsp;highway/ 34&nbsp;combined&nbsp;mpg. Actual mileage will vary.
			//- 	p General Motors has not approved nor endorsed this website or any claims about the DXP. The use of the DXP by Domino's does not suggest any affiliation between General Motors and Domino's.
	include _site-share
	button.handle.expando-button(title="Toggle Main Menu")
		.content
			svg.glyf.open(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/', x='0px', y='0px', width='105.4px', height='105.4px', viewbox='0 0 105.4 105.4', enable-background='new 0 0 105.4 105.4', xml:space='preserve')
				defs
				rect#XMLID_9_(x='0', y='0', opacity='0.5', fill='none', width='105.4', height='105.4')
				polygon#XMLID_8_(opacity='0.8', fill='rgba(0,0,0,0.3)', points='15,0 41.2,26.2 15,26.2 41.5,52.7 15,52.7 41,78.7 15,78.7 41.5,105.1 105.4,105.1 105.4,79.2 105.4,78.7 105.4,52.7 105.4,26.5 105.4,26.2 105.4,0 ')
				polygon#XMLID_7_(fill='#FFFFFF', points='17.8,29 15,26.2 17.8,23.4 87.7,23.4 90.5,26.2 87.7,29 ')
				polygon#XMLID_6_(fill='#FFFFFF', points='17.8,55.3 15,52.6 17.8,49.8 87.7,49.8 90.5,52.6 87.7,55.3 ')
				polygon#XMLID_1_(fill='#FFFFFF', points='17.8,81.5 15,78.7 17.8,75.9 87.7,75.9 90.5,78.7 87.7,81.5 ')
			svg.glyf.close(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/', x='0px', y='0px', width='105.4px', height='105.4px', viewbox='0 0 105.4 105.4', enable-background='new 0 0 105.4 105.4', xml:space='preserve')
				defs
				rect#XMLID_1_(x='0', y='0', fill='rgba(0,0,0,0)', width='105.4', height='105.4')
				polygon(fill='rgba(0,0,0,0.3)', points='79,26.2 52.7,53 38.6,67.5 26.4,78.7 26.3,78.7 26.4,78.7 26.4,78.7 26.4,78.7 52.8,105.4 105.4,105.4 105.4,78.7 105.4,52.7 ')
				path.bar(fill='#FFF', d='M26.4,81.9c-0.7,0-1.4-0.3-1.9-0.8c-1.1-1.1-1.1-2.8,0-3.9l52.6-52.6c1.1-1.1,2.8-1.1,3.9,0 c1.1,1.1,1.1,2.8,0,3.9L28.3,81.1C27.8,81.7,27.1,81.9,26.4,81.9z')
				path.bar(fill='#FFF', d='M79,81.9c-0.7,0-1.4-0.3-1.9-0.8L24.5,28.5c-1.1-1.1-1.1-2.8,0-3.9c1.1-1.1,2.8-1.1,3.9,0L81,77.3 c1.1,1.1,1.1,2.8,0,3.9C80.4,81.7,79.7,81.9,79,81.9z')
